<header>
  <div class="logo">
    <a href="../../../tripStore/index.html">Trip's Store</a>
  </div>

  <nav class="nav-menu">
    <ul>
      <li><a href="../../../tripStore/index.html">Home</a></li>
      <li><a href="../../../tripStore/pages/favoritos.html">Favoritos</a></li>
      <li><a href="../../../tripStore/pages/editar-produtos.html">Editar Produtos</a></li>
      <li><a href="../../../tripStore/pages/usuario.html">Usuário</a></li>
    </ul>
  </nav>

  <div class="menu-icon" id="menu-icon">&#9776;</div>
</header>